body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.right-header img,
.left-header img {
  margin: 0 10px;
}
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 50px 140px;
}
#options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}
.dot {
  /* height: 10px; */
  /* width: 10px; */
  padding: 2px;
  border-radius: 2px;
  background-color: #0029ff;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #0029ff;
}

.submit-task {
  background-color: #0029ff;
  font-size: 12px;
  color: white;
  padding: 10px 13px;
  border-radius: 25px;
  border: none;
}

.tasks-container {
  border: 1px solid #ccc;
  padding-top: 20px;
  background-color: #e9ecef;
  padding: 10px 40px;
}

.task {
  margin-bottom: 20px;
  /* margin-left: 100px; */
}

.task-title {
  font-weight: bold;
  margin: 10px 0px;
}

.task-description {
  margin-top: 5px;
}

.form-container {
  margin-top: 40px;
}

.forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.form {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
}

.form-header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  margin: 0;
  font-size: 18px;
}

.form-header button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 22px;
  width: 22px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.form-body {
  padding: 10px;
}

.form-body p {
  margin: 10px 0;
}

.form-input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-select {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sub-thread-container {
  display: flex;
  /* flex-direction: column; */
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.sub-thread-input {
  background-color: #e9ecef;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-text-input {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.content-editor {
  margin-top: 10px;
}

.thread-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.thread-container label {
  margin-right: 10px;
}
.sidebar {
  position: fixed;
  top: 55%;
  left: 0;
  width: 100px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  transition: width 0.3s;
  transform: translateY(-50%);
  z-index: 1000;
  border-radius: 0 25px 25px 0;
  box-shadow: #ddd;
}

.sidebar.open {
  width: 350px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  color: white;
  background-color: #000000;
}

.sidebar-header h2 {
  font-size: 12px;
  margin: 0;
  color: white;
}

.toggle-btn {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.sidebar-content {
  padding: 20px;
}

.hidden {
  display: none;
}

.hidden-content {
  display: none;
}

/* .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  top: 0;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  background: #000000;
  border-radius: 0px 22px 0px 0px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sidebar-logo {
  width: 39px;
  height: 29px;
  background-size: cover;
}

.sidebar-header h1 {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-item h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item ul li {
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-item ul li:hover {
  color: #0029ff;
}
.close-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 20px;
  color: #000000;
  font-size: 28px;
  /* transform: rotate(180); */
/* } */
